@charset "utf-8";
.word_e1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
	color: #909;
}
.word_e2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	color: #909;
}
