@charset "utf-8";
@import url("../webfonts/Pacifico/stylesheet.css");

#header {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.title_i {
	font-family: Pacifico;
	font-size: 36px;
	color: #F00;
}
.word_s {
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	color: #FFF;
}
