<?xml version= "1.0" encoding= "utf-8"?>
<config
	frameWidth="480"
	frameHeight="270"
	frameBgColor="0xEEEEEE"
	frameBgTransparent="1"
	frameCornerRadius="8"
	introImageScale="Crop"
	videoInitMode="Ready"
	videoLoop="true"
	videoScaleNormal="Crop"
	videoScaleFullscreen="Fit"
	loadingColor="0xA0A0A0"
	buttonWidth="85"
	buttonHeight="70"
	buttonCornerRadius="8"
	buttonBgTransparent="0.85"
	buttonBgColorTop="0xC5C5C5"
	buttonBgColorBottom="0x858585"
	buttonBgHighlightTop="0x909090"
	buttonBgHighlightBottom="0x505050"
	buttonFaceColorTop="0xFFFFFF"
	buttonFaceColorBottom="0xA5A5A5"
	buttonFaceHighlightTop="0xFFFFFF"
	buttonFaceHighlightBottom="0xB276C0"
	controlBarWidth="450"
	controlBarHeight="28"
	controlBarMarginBottom="10"
	controlBarCornerRadius="8"
	controlBarBgTransparent="1"
	controlBarBgColorTop="0xC5C5C5"
	controlBarBgColorBottom="0x858585"
	controlBarLinesColorTop="0xE5E5E5"
	controlBarLinesColorBottom="0xA0A0A0"
	controlBarVisible="Always"
	controlButtonBgHighlightTop="0x909090"
	controlButtonBgHighlightBottom="0x505050"
	controlButtonFaceColor="0xFFFFFF"
	controlButtonFaceHighlight="0xDEBCE8"
	timeLineBgColor="0xC2C9C8"
	timeLineProgressColorTop="0xDEBCE8"
	timeLineProgressColorBottom="0xA484BF"
	timeLineBufferColor="0xA0A0A0"
	timeLineFontFamily="Tahoma"
	timeLineFontSize="11"
	timeLineTimeColor="0xF0F0F0"
	timeLineTotalTimeColor="0x505050">
</config>